$dark-grey: #434A54;
$grey: #656D78;
$light-grey: #EDF0F2;
$grey-border: #E5EBEF;
$iron-black: #202F37;
$iron-blue: #559DD4;
$iron-purple: #A17BC3;
$iron-green: #6FBBB7;
$alert-red: #e74c3c;
$alert-green: #27ae60;
$alert-pink: #FEEAEA;
$white: #FFF;
$black: #000;
