

<div class="grid staff hideable page-break-inside">
    <div class="table">
        <div>
            <img src=<%= staff.pic %>>
        </div>
        <div>
            <p>
                <strong><%= staff.name.upcase %></strong>
                <br>
                <i><%= staff.title %></i>
            </p>

            <p><%= staff.bio %></p>
        </div>
    </div>
</div>
