

<div class="grid staff hideable page-break-inside">
    <div class="table">
        <div>
              <img src=<%= ta.pic %>>
        </div>
        <div>
            <p>
                <strong><%= ta.name.upcase %></strong>
                <br>
                <i><%= ta.title %></i>
            </p>

            <p><%= ta.bio %></p>
        </div>
    </div>
</div>
